In [1]:
import configparser
import mysql.connector
import base64
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
#import pyaes
from sqlalchemy import text

In [2]:
class dbconn:
    def mysql(host, port=3306, username=None, password=None, database=None):
        connection_string = f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}"
        engine = create_engine(connection_string)
        conn = engine.connect()
        print("===== Mysql Database Connected =====")
        return conn

In [96]:
sql1 = """select 
sd.sensor_name,
date_format(sf.read_ts,'%Y-%m-%d') as read_date,
date_format(sf.read_ts,'%H:%i:%S') as read_time,
sf.read_value
from sensors_database.sensors_read_f sf,
sensors_database.sensors_d sd
where sf.sensor_id = sd.sensor_id"""

In [97]:
# Database connection details
db_hostname = 'localhost'
db_port = 3306 # defauls 3306
db_username = 'admin'
db_password = 'anubhabiitbbsr'
db_name = 'sensors_database'

def sql_transact(sql_query):
    print(sql_query)
    conn = dbconn.mysql(host=db_hostname,username=db_username,password=db_password,database=db_name)
    cursor = conn.execute(text(sql_query).execution_options(autocommit=True))
    conn.commit()
    conn.close()
    return cursor.rowcount

def sql_select(sql_query):
    print(sql_query)
    conn = dbconn.mysql(host=db_hostname,username=db_username,password=db_password,database=db_name)
    cursor = conn.execute(text(sql_query).execution_options(autocommit=True))
    data = cursor.fetchall()
    return data

In [98]:
conn = dbconn.mysql(host=db_hostname,username=db_username,password=db_password,database=db_name)
cursor = conn.execute(text(sql1).execution_options(autocommit=True))
data = cursor.fetchall()
keys = list(cursor.keys())

===== Mysql Database Connected =====

In [99]:
data

[('Test Sensor', '2023-12-26', '17:56:35', 30.1),
 ('Test Sensor', '2023-12-26', '18:02:50', 30.1),
 ('Test Sensor', '2023-12-26', '18:09:31', 30.1),
 ('Test Sensor', '2023-12-26', '18:13:35', 30.1),
 ('Test Sensor', '2023-12-26', '18:13:41', 30.1),
 ('Test Sensor', '2023-12-26', '18:13:43', 30.1),
 ('Test Sensor', '2023-12-26', '18:13:44', 30.1),
 ('Test Sensor', '2023-12-26', '18:15:12', 30.1),
 ('Test Sensor', '2023-12-26', '18:15:15', 30.1),
 ('Test Sensor', '2023-12-26', '18:21:01', 30.1),
 ('Test Sensor', '2023-12-26', '21:03:37', 30.1)]

In [100]:
keys

['sensor_name', 'read_date', 'read_time', 'read_value']

In [101]:
# Convert results to a list of dictionaries
columns = keys
result_dicts = [dict(zip(columns, row)) for row in data]

# Print the resulting list of dictionaries
print(result_dicts)

[{'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '17:56:35', 'read_value': 30.1}, {'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '18:02:50', 'read_value': 30.1}, {'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '18:09:31', 'read_value': 30.1}, {'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '18:13:35', 'read_value': 30.1}, {'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '18:13:41', 'read_value': 30.1}, {'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '18:13:43', 'read_value': 30.1}, {'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '18:13:44', 'read_value': 30.1}, {'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '18:15:12', 'read_value': 30.1}, {'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '18:15:15', 'read_value': 30.1}, {'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '18:21:01', 'read_value': 30.1}, {'sensor_name': 'Test Sensor', 'read_date': '2023-12-26', 'read_time': '21:03:37', 'read_value': 30.1}]

In [102]:
import pandas as pd

In [105]:
df = pd.DataFrame(result_dicts)

html_str = df.to_html(index=False,table_id='aaa')

In [107]:
df

    sensor_name   read_date read_time  read_value
0   Test Sensor  2023-12-26  17:56:35        30.1
1   Test Sensor  2023-12-26  18:02:50        30.1
2   Test Sensor  2023-12-26  18:09:31        30.1
3   Test Sensor  2023-12-26  18:13:35        30.1
4   Test Sensor  2023-12-26  18:13:41        30.1
5   Test Sensor  2023-12-26  18:13:43        30.1
6   Test Sensor  2023-12-26  18:13:44        30.1
7   Test Sensor  2023-12-26  18:15:12        30.1
8   Test Sensor  2023-12-26  18:15:15        30.1
9   Test Sensor  2023-12-26  18:21:01        30.1
10  Test Sensor  2023-12-26  21:03:37        30.1

In [118]:
df.columns = [items.upper() for items in list(df.columns)]

In [119]:
df.columns

Index(['SENSOR_NAME', 'READ_DATE', 'READ_TIME', 'READ_VALUE'], dtype='object')